SecureWatchAI_Workflow.json.json
{
  "name": "SecureWatch AI",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "feedUrl": "https://feeds.feedburner.com/TheHackersNews"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        144
      ],
      "id": "c3c94bcd-5d50-479a-a8f0-be6db8f1d052",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this security article.\n\nTitle: {{ $('Limit').item.json.title }}\n\nContent: {{ $('Limit').item.json.contentSnippet || $('Limit').item.json.content }}\n\nLink: {{ $('Limit').item.json.link }}\n\nPublished: {{ $('Limit').item.json.pubDate || $('Limit').item.json.isoDate }}\n\nReturn ONLY raw JSON:\n\n{\n  \"relevant\": true,\n  \"title\": \"article title\",\n  \"summary\": \"maximum 2 short sentences\",\n  \"category\": \"Cybersecurity\",\n  \"severity\": \"Low, Medium, High, or Critical\",\n  \"link\": \"article URL\",\n  \"publishedAt\": \"article date\",\n  \"source\": \"The Hacker News\"\n}\n\nDo not explain.\nDo not use markdown.\nReturn JSON only.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        128
      ],
      "id": "0bf18218-ce7c-42cb-82ea-ad6a36eff56a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const aiOutput = $input.first().json.output;\n\nif (typeof aiOutput !== 'string') {\n  throw new Error('AI output is missing or is not text');\n}\n\nconst start = aiOutput.indexOf('{');\nconst end = aiOutput.lastIndexOf('}');\n\nif (start === -1 || end === -1 || end < start) {\n  throw new Error('No valid JSON object found in AI output: ' + aiOutput);\n}\n\nconst jsonOnly = aiOutput.slice(start, end + 1);\n\nconst parsed = JSON.parse(jsonOnly);\n\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        128
      ],
      "id": "e653baeb-3578-4fb9-b405-f0a46c5e4aa3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        144,
        144
      ],
      "id": "52d9ca18-6652-4481-9330-772b90955c37",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        768,
        272
      ],
      "id": "0178ffba-2851-42ab-9c74-136ee7d10860",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "2JAGm5PWNZgJvGfD",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        304,
        144
      ],
      "id": "50ff0331-2d5f-497a-9966-44e1e59de30d",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dc5f1a26-57ae-4c6d-a25c-47c5cb5c7139",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        144
      ],
      "id": "06da085d-aaa9-4106-8108-ab18f35830ee",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:3000/api/alerts/check?link={{ encodeURIComponent($('Limit').item.json.link) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        144
      ],
      "id": "7d0de649-9023-4024-a951-6b3adc05cbd9",
      "name": "Check Article"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/api/alerts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"={{ $json.title }}\",\n  \"summary\": \"={{ $json.summary }}\",\n  \"category\": \"={{ $json.category }}\",\n  \"severity\": \"={{ $json.severity }}\",\n  \"link\": \"={{ $json.link }}\",\n  \"publishedAt\": \"={{ $json.publishedAt }}\",\n  \"source\": \"={{ $json.source }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1216,
        128
      ],
      "id": "6596cfec-ee9f-440a-a3e5-d13af88d47ea",
      "name": "Save Alert"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Save Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Check Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Article": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3c7b04fa-cc68-4be5-a1b6-6c5a3d41b842",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "188bea2a70224db9f98a66f78782a917e9da678cfa015993690ff752034bd162"
  },
  "nodeGroups": [],
  "id": "PiDbpDkVnTcF20ZM",
  "tags": []
}